body {
  background-color: #393943;
}

a {
  text-decoration: none;
  color: #a3a3af;
}
a:hover {
  background-color: #3b3c42;
}
a.chosen {
  background-color: #292a2e;
}

.link_general {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_author {
  width: 100%;
}

.text_link {
  text-align: center;
  text-decoration: underline;
  color: #116dfe;
  margin-bottom: 10px;
}

.text_link:hover {
  background-color: transparent;
  color: #0f5ad1;
}

img {
  margin-left: 8px;
}

.form_padding {
  padding: 8px;
}

.form_sign-in {
  display: flex;
  flex-direction: column;
}
