body {
  background-color: #393943;
}

a {
  text-decoration: none;
  color: #a3a3af;
}
a:hover {
  background-color: #3b3c42;
}
a.chosen {
  background-color: #292a2e;
}

img {
  margin-left: 8px;
}
